h1{ 
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul{
    background-color:gray ;

}
.modify-color{
    background-color: blueviolet;
}   
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 40px;
    text-align: justify;
    text-decoration: solid;

}
body{
    font-size: 16px;
}
.yellow-color{
    background-color: yellow;
}
.red-color{
    background-color: red;
}
.brown-color{
    background-color: brown;
}